/POOUTILIDADESEJ1/nbproject/private/
/POOUTILIDADESEJ1/build/
/POOUtilidadesEj4/nbproject/private/
/POOUtilidadesEj4/build/
/POOUTILITYEJEXTRA2/nbproject/private/
/POOUTILITYEJEXTRA2/build/
/POOCOLECCIONES/nbproject/private/
/POOCOLECCIONES/build/
/POOCOLECCIONES4/nbproject/private/
/POOCOLECCIONES4/build/
/POOCollections5/nbproject/private/
/POOCollections5/build/
/POOCollectionEj6/nbproject/private/
/POOCollectionEj6/build/
/POOCOLLECTIONSEXTRA1/nbproject/private/
/POOCOLLECTIONSEXTRA1/build/
/Test/nbproject/private/
/Test/build/
/ReCEj1/nbproject/private/
/ReCEj1/build/
/ReCEj/nbproject/private/
/ReCEj/build/
/ReCEj2/nbproject/private/
/ReCEj2/build/
/ReCEj2/dist/
/JavaApplication19/nbproject/private/
/JavaApplication19/build/
/BarajaCartas/nbproject/private/